.tree-view {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  background: rgb(78, 54, 54);
  border-radius: 8px;
  padding: 16px;
  min-height: 400px;
  /* max-width: 600px; */
}